<%= form_with(model: debate) do |form| %>
  <% if debate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(debate.errors.count, "error") %> prohibited this debate from being saved:</h2>

      <ul>
        <% debate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :lead, style: "display: block" %>
    <%= form.text_area :lead %>
  </div>

  <div>
    <%= form.label :context, style: "display: block" %>
    <%= form.text_area :context %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
