<div id="<%= dom_id poll %>">
  <p>
    <strong>Question:</strong>
    <%= poll.question %>
  </p>

  <p>
    <strong>Label 1:</strong>
    <%= poll.label_1 %>
  </p>

  <p>
    <strong>Count 1:</strong>
    <%= poll.count_1 %>
  </p>

  <p>
    <strong>Label 2:</strong>
    <%= poll.label_2 %>
  </p>

  <p>
    <strong>Count 2:</strong>
    <%= poll.count_2 %>
  </p>

  <p>
    <strong>Label 3:</strong>
    <%= poll.label_3 %>
  </p>

  <p>
    <strong>Count 3:</strong>
    <%= poll.count_3 %>
  </p>

</div>
